body{
	background-image:url(css/003.jpg);
	background-size:cover;
	
}

h1{
	color:white;
	background-color:blue;
}
h2{
	background-color: yellow;
	color:green;
	width:460px;
	padding:0 20px solid #cccccc;
	text align: center;
	margin:auto;
}
h3{
	color:white;
	text align:center;
}
	#div1{
		text-align:center;
		height:100%;
		
	}
	.container{
		text-align:center;
		margin-top:30px;
	}
	.btn{
		border:1px solid;
		padding:05px 10px;
		color: red;
		background-color:grey;
	}